@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0px;
    padding: 0px;

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

:root{
    --cor1: #486966;
    --cor2: #889C9B;
    --cor3: #b2bebf77;
    --cor4: #3B3936;
    --cor5: #BD2A2E;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
}
main{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visor{
    margin: 10px 0px;
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--cor3);
    width: 90%;
    height: 30px;
    text-align: end;
    font-size: 1.5rem;
}

.teclado{
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-auto-rows: 50px;
    gap: 10px;
}

.teclado > button:nth-child(17){
    grid-column: 1 / 3;
}

.btn,
.btn_operador,
.btn_limpar,
.btn_resultado,
.btn_virgula{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.5rem;
}

.btn:hover,
.btn_operador:hover,
.btn_limpar:hover,
.btn_resultado:hover,
.btn_virgula:hover{
    scale: 0.96;
    box-shadow: 0px 0px 2px black;
    transition: 0.1s;
}

.btn_limpar{
    background-color: var(--cor5);
    color: white;
}

.btn_operador,
.nao_num,
.btn_resultado{
    background-color: var(--cor1);
    color: white;
}

.virgula{
    background-color: #f0f0f0;
    color: black;
}

.copy{
    margin: 20px 0px;
    color: white;
}

.resultado{
    display: none;
}